:root{
  --black: #343434;
  --bg: #d2dadd;
  --bg2: #f2f8ed;
  --shadow1: 0px 13px 48px -1px rgba(0, 0, 0, 0.25);
  --shadow2:  0px 13px 46px rgba(0, 0, 0, 0.13);
  --white: #acb6a5;
  --white2:#d4d8d0;
}
.App{
  display: flex;
  flex-direction: column;
}

.tagline {
  font-size: 1.6rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-basket {
  display: flex;
  font-size: .6rem;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 16px;
  right: 15px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;
}

::-webkit-scrollbar{
  height: 12px;
  width: 12px;
  }
  
  ::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-thumb{
  background: rgb(103, 106, 107);
  border-radius: 1ex;
  }

  a{
    text-decoration: none;
    color: inherit
  }