@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
.content {
  /* background: var(--bg); */
  background-image: linear-gradient(var(--bg2), var(--bg));
  color: var(--black);
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

body,
#root {
  
}

.app {
  display: flex;
  position: relative;
}